<div class="container-fluid animated fadeInRight">
  <div class="row">
    <div class="ibox chat-view">
      <div class="ibox-title">
        <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
        <a class="js-bid-action btn btn-primary">
            <i class="fa fa-bitcoin"></i>
          </a>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12 ">
            <div class="chat-discussion baby-blue-bg">
              <div class="chat-message">
                <img class="message-avatar" src="img/a1.jpg" alt="">
                <div class="message">
                  <a class="message-author" href="#"> Michael Smith </a>
                  <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                  <span class="message-content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </span>
                </div>
              </div>
              <div class="chat-message">
                <img class="message-avatar" src="img/a4.jpg" alt="">
                <div class="message">
                  <a class="message-author" href="#"> Karl Jordan </a>
                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                  <span class="message-content">
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                          </span>
                </div>
              </div>
              <div class="chat-message">
                <img class="message-avatar" src="img/a2.jpg" alt="">
                <div class="message">
                  <a class="message-author" href="#"> Michael Smith </a>
                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                  <span class="message-content">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                          </span>
                </div>
              </div>
              <div class="chat-message">
                <img class="message-avatar" src="img/a5.jpg" alt="">
                <div class="message">
                  <a class="message-author" href="#"> Alice Jordan </a>
                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                  <span class="message-content">
                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                              It uses a dictionary of over 200 Latin words.
                                          </span>
                </div>
              </div>
              <div class="chat-message">
                <img class="message-avatar" src="img/a6.jpg" alt="">
                <div class="message">
                  <a class="message-author" href="#"> Mark Smith </a>
                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                  <span class="message-content">
                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                              It uses a dictionary of over 200 Latin words.
                                          </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat">

  <div class="heading" draggable="true">
    <small class="chat-date pull-right">
          02.19.2015
      </small> Small chat
  </div>

  <div class="content" chat-slim-scroll>

    <div class="left">
      <div class="author-name">
        Monica Jackson <small class="chat-date">
              10:02 am
          </small>
      </div>
      <div class="chat-message active">
        Lorem Ipsum is simply dummy text input.
      </div>

    </div>
    <div class="right">
      <div class="author-name">
        Mick Smith
        <small class="chat-date">
                  11:24 am
              </small>
      </div>
      <div class="chat-message">
        Lorem Ipsum is simpl.
      </div>
    </div>
    <div class="left">
      <div class="author-name">
        Alice Novak
        <small class="chat-date">
                  08:45 pm
              </small>
      </div>
      <div class="chat-message active">
        Check this stock char.
      </div>
    </div>
    <div class="right">
      <div class="author-name">
        Anna Lamson
        <small class="chat-date">
                  11:24 am
              </small>
      </div>
      <div class="chat-message">
        The standard chunk of Lorem Ipsum
      </div>
    </div>
    <div class="left">
      <div class="author-name">
        Mick Lane
        <small class="chat-date">
                  08:45 pm
              </small>
      </div>
      <div class="chat-message active">
        I belive that. Lorem Ipsum is simply dummy text.
      </div>
    </div>


  </div>
  <div class="form-chat">
    <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
              class="btn btn-primary" type="button">Send
      </button> </span></div>
  </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">
  <span class="badge badge-warning pull-right">5</span>
  <a class="open-small-chat">
    <i class="fa fa-comments"></i>
  </a>
</div> -->