<div class="footer" ng-controller="ChatMessageCtrl as chatMessage">
    <div class="chat-message-form"> 
        <div class="row">
            <div class="col-xs-11">
                <div id="summernote" name="value"></div>
            </div>
            <div class="col-xs-1">
                <button ng-click="chatMessage.saveMessage()" class="btn btn-lg btn-primary">Send</button>
            </div>
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        height: 50, // set editor height
                        focus: false
                    });
                });
            </script>
        </div>
    </div>
</div>