<div class="footer">
    <div class="chat-message-form">
            <div id="summernote" name="value"></div>
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        height: 50, // set editor height
                        minHeight: 40, // set minimum height of editor
                        maxHeight: 60, // set maximum height of editor
                        focus: false
                    });
                });
            </script>
      </div>
</div>
