<div class="footer" ng-controller="ChatMessageCtrl as chatMessage">
    <div class="chat-message-form"> 
        <div class="row">
            <div class="col-xs-11">
                <div id="summernote" name="value"></div>
            </div>
            <div class="col-xs-1">
                <button ng-click="chatMessage.saveMessage()" class="btn btn-lg btn-primary">Send</button>
            </div>
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        height: 50, // set editor height
                        focus: false,
                        toolbar: [
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['font', ['strikethrough', 'superscript', 'subscript']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol']],
                            ['misc', ['fullscreen']]
                        ]
                    });
                });
            </script>
        </div>
    </div>
</div>