<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div>
          <div class="row" align="center">
            <img width="165" height="auto" src="components/layout/logo.png">
          </div>
        </div>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.dashboard">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-home"></i>
          </div>
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
    </ul>
  </div>
</nav>