<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="slimScrollDiv">
    <div class="nav metismenu" id="side-menu">
      <div align="center">
        <img class="img-responsive" src="components/layout/logo.png">
      </div>
      <div class="chat-users">
        <div class="form-group">
          <br>
          <input type="text" class="form-control" placeholder="looking for someone?">
        </div>
        <div class="users-list">
          <div class="chat-user">
            <img class="chat-avatar" src="img/a4.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Karl Jordan
                <span id="score#123">(10)</span>
              </a>
            </div>
          </div>
          <div class="chat-user">
            <img class="chat-avatar" src="img/a1.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Monica Smith
                <span id="score#123">(7)</span>
              </a>
            </div>
          </div>
          <div class="chat-user">
            <span class="pull-right label label-primary">Online</span>
            <img class="chat-avatar" src="img/a2.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Michael Smith</a>
            </div>
          </div>
          <div class="chat-user">
            <span class="pull-right label label-primary">Online</span>
            <img class="chat-avatar" src="img/a3.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Janet Smith</a>
            </div>
          </div>
          <div class="chat-user">
            <img class="chat-avatar" src="img/a5.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Alice Smith</a>
            </div>
          </div>
          <div class="chat-user">
            <img class="chat-avatar" src="img/a6.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Monica Cale</a>
            </div>
          </div>
          <div class="chat-user">
            <img class="chat-avatar" src="img/a2.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Mark Jordan</a>
            </div>
          </div>
          <div class="chat-user">
            <span class="pull-right label label-primary">Online</span>
            <img class="chat-avatar" src="img/a3.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Janet Smith</a>
            </div>
          </div>
          <div class="chat-user">
            <img class="chat-avatar" src="img/a4.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Karl Jordan</a>
            </div>
          </div>
          <div class="chat-user">
            <img class="chat-avatar" src="img/a4.jpg" alt="">
            <div class="chat-user-name">
              <a href="#">Karl Jordan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>